<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Blog WebApp</title>
</head>

<body>
  <header>
    <form action="/header" method="post" id="header_form">
      <button class="header_buttons" name="header_action" value="home">Home</button>
      <button class="header_buttons" name="header_action" value="project_des">Project Description</button>
      <button class="header_buttons" name="header_action" value="github">Github</button>
    </form>
  </header>
  <main>
    