<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Post Here</h1>
    <form action="/create_new_post" method="post" id="input_blog">
        <input type="text" name="heading" placeholder="heading of blog">
        <textarea name="content" form="input_blog"></textarea>
        <input type="submit">
    </form>
</body>
</html>