<%- include("partials/header.ejs") %>

    <h1>Create New Post</h1>
    <form action="/create_new_post" method="post" id="input_blog">
        <input type="text" name="heading" placeholder="Heading">
        <textarea name="content" form="input_blog"></textarea>
        <input type="submit">
    </form>


<%- include("partials/footer.ejs") %>