<%- include("partials/header.ejs") %>

    <h1>Project Description</h1>
    <p class="display_post">This is a simple WebApp made to create, edit and delete posts</p>
    <p class="display_post">The main technologies used were     Express for the server, Node for the function, EJS for the structure, and CSS for the styling of the website</p>
    <p class="display_post">PS- This was built in a day so the styling is not as responsive as I would have liked it to be but, rest assured it works perfectly!</p>


<%- include("partials/footer.ejs") %>